/* ========================
  CONFIGURAÇÕES GERAIS
======================== */
p {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding-top: 81px;
  padding-left: 96px;
  padding-right: 24px;
  padding-bottom: 40px;
  background-color: rgb(248,248,248);
}

@media(max-width: 900px) {
  body {
    padding-left: 180px;
  }
}

@media(max-width: 470px) {
  .sidebar {
    display: none;
  }

  body {
    padding-left: 25px;
  }
}
