/* =======================
       HEADER CONTAINER
======================= */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(222, 222, 222);
  z-index: 1;
}

.left-section {
  display: flex;
  align-items: center;  
}

.middle-section {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  margin-right: 20px;
  flex-shrink: 0;
}

/* =======================
            ICONS
======================= */
.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo {
  height: 20px;
}

.search-icon {
  height: 25px;
}

.voice-search-icon {
  height: 24px;
}

.upload-icon {
  height: 24px;
}

.youtube-apps-icon {
  height: 24px;
}

.notifications-icon {
  height: 24px;
}

.notifications-icon-container {
  position: relative;
}

.notifications-count {
  position: absolute;
  top: -2px;
  right: -6px;

  background-color: rgb(204, 0, 0);
  color: white;
  font-family: Roboto, Arial, sans-serif;
  font-size: 10px;
  padding: 2px 5.5px;
  border-radius: 80px;
  border: 1px solid white;
}

.current-user-picture {
  height: 32px;
  border-radius: 16px;
}

/* =======================
            LABELS
======================= */
.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-icon-container,
.notifications-icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button {
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-left-width: 0;
  border-radius: 0px 2px 2px 0px;
  border-color: rgb(192, 192, 192);
  margin-left: 0;
  cursor: pointer;
}

.search-button:hover {
  background-color: rgb(230, 230, 230);
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-icon-container .tooltip,
.notifications-icon-container .tooltip {
  position: absolute;
  bottom: -30px;

  background-color: gray;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;

  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  opacity: 1;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  margin-left: 10px;
  border-radius: 20px;
  border: none;
  background-color: rgb(245, 245, 245);
  cursor: pointer;
  box-sizing: border-box;
}

.search-bar {
  flex: 1;
  height: 40px;
  padding: 0 5px 0 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-radius: 2px 0 0 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
  box-sizing: border-box;
}

.search-bar:focus {
  outline: none;
}

.search-bar::placeholder {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
}
